#social-fontawesome {
  margin-top: 10px;
  padding-top: 20px;
  clear: both;
  border-top: 1px solid #eee;
  text-align: center;
}
#social-fontawesome:before {
  content: 'SPREAD THE WORD: ';
  vertical-align: middle;
  line-height: 40px;
  padding-right: 15px;
  letter-spacing: 1px;
  color: #cccccc;
  font-weight: bold;
  font-size: 18px;
}
#social-fontawesome a {
  font-size: 40px;
  line-height: 1;
  vertical-align: middle;
  padding-right: 20px;
}
#social-fontawesome a:hover {
  text-decoration: none;
}
#social-fontawesome .fa-facebook {
  color: #304890;
}
#social-fontawesome .fa-facebook:hover {
  color: #23356a;
}
#social-fontawesome .fa-google-plus {
  color: #d34836;
}
#social-fontawesome .fa-google-plus:hover {
  color: #b03626;
}
#social-fontawesome .fa-twitter {
  color: #4099ff;
}
#social-fontawesome .fa-twitter:hover {
  color: #0d7eff;
}
#social-fontawesome .fa-pinterest {
  color: #d0251e;
}
#social-fontawesome .fa-pinterest:hover {
  color: #a31d18;
}
