#social-holder {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both;
  border-top: 1px solid #eee;
  text-align: center;
}
#social-holder a {
  line-height: 1;
  vertical-align: middle;
}
#social-holder a:hover {
  text-decoration: none;
}
#social-holder .fa-facebook {
  color: #304890;
}
#social-holder .fa-facebook:hover {
  color: #23356a;
}
#social-holder .fa-google-plus {
  color: #d34836;
}
#social-holder .fa-google-plus:hover {
  color: #b03626;
}
#social-holder .fa-twitter {
  color: #4099ff;
}
#social-holder .fa-twitter:hover {
  color: #0d7eff;
}
#social-holder .fa-pinterest {
  color: #d0251e;
}
#social-holder .fa-pinterest:hover {
  color: #a31d18;
}
#social-holder .fa-envelope {
  color: #2ecc40;
}
#social-holder .fa-envelope:hover {
  color: #25a233;
}
.social-holder-horizontal:before {
  content: 'SPREAD THE WORD: ';
  vertical-align: middle;
  line-height: 40px;
  padding-bottom: 10px;
  display: block;
  letter-spacing: 1px;
  color: #cccccc;
  font-weight: bold;
  font-size: 18px;
}
.social-holder-horizontal a {
  padding-right: 20px;
  font-size: 40px;
}
.social-holder-vertical {
  position: fixed;
  top: 130px;
  left: 0;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.social-holder-vertical a {
  font-size: 30px;
  display: block;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .social-holder-vertical {
    display: none;
  }
}
