@import "../../themes/roots/assets/less/bootstrap/mixins.less";
@import "../../themes/roots/assets/less/bootstrap/variables.less";

#social-holder {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear:both;

	border-top: 1px solid #eee;
	text-align: center;

	a {
		line-height: 1;
		vertical-align: middle;

		&:hover { text-decoration: none; }
	}

	.fa-facebook {
		@facebook_color: #304890;
		color:@facebook_color;
		&:hover { color:darken(@facebook_color, 10%); }
	}

	.fa-google-plus {
		@googleplus_color: #D34836;
		color:@googleplus_color;
		&:hover { color:darken(@googleplus_color, 10%); }
	}

	.fa-twitter {
		@twitter_color: #4099FF;
		color:@twitter_color;
		&:hover { color:darken(@twitter_color, 10%); }
	}

	.fa-pinterest {
		@pinterest_color: #d0251e;
		color:@pinterest_color;
		&:hover { color:darken(@pinterest_color, 10%); }
	}

	.fa-envelope {
		@email_color: #2ECC40;
		color: @email_color;
		&:hover { color: darken(@email_color, 10%) }
	}
}

.social-holder-horizontal {
	&:before {
		content:'SPREAD THE WORD: ';
		vertical-align: middle;
		line-height: 40px;
		padding-bottom: 10px;
		display: block;

		letter-spacing: 1px;
		color:lighten(black, 80%);
		font-weight: bold;
		font-size: 18px;
	}

	a {
		padding-right: 20px;
		font-size: 40px;
	}
}

.social-holder-vertical {
	position: fixed;
	top: 130px;
	left: 0;

	padding: 10px;
	background-color: white;
	.box-shadow(0 0 5px rgba(0,0,0,0.1));

	a {
		font-size: 30px;
		display: block;
		padding-bottom: 10px;
	}
}

@media (max-width: @screen-xs-max) {
	.social-holder-vertical {
		display: none;
	}
}