#social-fontawesome {
  font-size: 30px;
}
#social-fontawesome:before {
  content: 'SPREAD THE WORD: ';
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  vertical-align: middle;
  padding-right: 5px;
}
#social-fontawesome a {
  font-size: 30px;
  padding-right: 5px;
}
#social-fontawesome a:hover {
  text-decoration: none;
}
#social-fontawesome .fa-facebook {
  color: #304890;
}
#social-fontawesome .fa-facebook:hover {
  color: #23356a;
}
#social-fontawesome .fa-google-plus {
  color: #d34836;
}
#social-fontawesome .fa-google-plus:hover {
  color: #b03626;
}
#social-fontawesome .fa-twitter {
  color: #4099ff;
}
#social-fontawesome .fa-twitter:hover {
  color: #0d7eff;
}
#social-fontawesome .fa-pinterest {
  color: #d0251e;
}
#social-fontawesome .fa-pinterest:hover {
  color: #a31d18;
}
